.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 0;
  color: var(--text-primary-color);
}

.bun {
  display: flex;
}

.list {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  row-gap: 16px;
  min-height: 80px;
  margin: 0;
  padding: 0;
  overflow: hidden auto;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  border: 1px dashed var(--background-element);
  border-radius: var(--common-border-radius-s);
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 40px;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
