.burger_ingredients {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 0;
  color: var(--text-primary-color);
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.groups {
  flex-grow: 1;
  min-height: 160px;
  margin: 0;
  padding: 0;
  overflow: hidden auto;
  list-style-type: none;
}

.group_title {
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
